<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Resultado de la Consulta</h3>
        </div>
        <div class="card-body">
            <table>
                
                <tr>
                    <td scope="row">RUC :</td>
                    <td scope="row">{{empresa.ruc}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">RAZÓN SOCIAL :</td>
                    <td scope="row">{{empresa.razon_social}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">ESTADO :</td>
                    <td scope="row">{{empresa.estado}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">DIRECCIÓN :</td>
                    <td scope="row">{{empresa.direccion}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">UBIGEO :</td>
                    <td scope="row">{{empresa.ubigeo}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">DEPARTAMENTO :</td>
                    <td scope="row">{{empresa.departamento}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">PROVINCIA :</td>
                    <td scope="row">{{empresa.provincia}}</td>
                </tr>
                <tr scope="row">
                    <td scope="row">DISTRITO :</td>
                    <td scope="row">{{empresa.distrito}}</td>
                </tr>
                </table>
                       
                                 
        </div>
    </div>
</div>
